:root {
    --background-color-light: #e0e0e0;
    --text-color-light: #333;
    --container-color-light: #fff;
    --subcontainer-color-light: #f3f3f3;
    --button-backgroundcolor-light: #007bff;
    --button-color-light: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color-light);
    background-color: var(--background-color-light);
    transition: background-color 0.1s ease;
}

.container {
    background-color: var(--container-color-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: background-color 0.1s ease;
}

button {
    background-color: var(--button-backgroundcolor-light);
    color: var(--button-color-light);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input {
    background-color: var(--background-color-light);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.error-message {
    color: red;
    text-align: center;
}